// 1rem = 10px
// 1.6 rem = 16px

/*
html {
  font-size: 62.5%;
  
*/
/*------------------------------------*\
  #SPACING
\*------------------------------------*/

$spacing-xxs: 0.8rem;
$spacing-xs: 1.6rem;
$spacing-s: 2.4rem;
$spacing-m: 3.2rem;
$spacing-l: 4rem;
$spacing-xl: 4.8rem;
$spacing-xxl: 5.6rem;
$spacing-xxxl: 6.4rem;

/*------------------------------------*\
  #FONT-SIZE
\*------------------------------------*/
$font-size-xxxxs: 1.2rem;
$font-size-xxxs: 1.4rem;
$font-size-xxs: 1.6rem;
$font-size-xs: 1.8rem;
$font-size-s: 2rem;
$font-size-m: 2.4rem;
$font-size-l: 3rem;
$font-size-xl: 3.6rem;
$font-size-xxl: 4.8rem;
$font-size-xxxl: 6rem;
$font-size-xxxxl: 7.2rem;

/*------------------------------------*\
  #COLOURS
\*------------------------------------*/
